

html,
body,
#root {
  height: 100%;
  margin: 0;
  background-color: #197fff ;
}
#cy {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0; /* Diminua o z-index do gráfico */
}

/* Garanta que a interface fique por cima */
.interface-container {
  position: relative;
  z-index: 50; 
}

.tooltip {
  position: absolute;
  background: #222;
  color: red;
  padding: 5px 10px;
  border-radius: 4px;
  pointer-events: none;
  font-size: 14px;
  z-index: 9999;
}
