html, body, #root {
  height: 100%;
  margin: 0;
}

.imagem-fundo{
  position: fixed;
  inset: 0;
  z-index: -2;

  background-image:
    linear-gradient(rgba(25,127,255,0.6), rgba(25,127,255,0.6)),
    url('./assets/network_perfect_loop_white_bg.gif');

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  filter: blur(2px);
  opacity: 0.9;
  transform: scale(150%);

  pointer-events: none;
}

#cy{
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.interface-container{
  position: relative;
  z-index: 50;
}